body {
	background: darkslategray;
    text-align: center;
    color: white;
    font-family: Geneva,Tahoma,Verdana,sans-serif;
}

.colorButton {
    border: 10%;
    border-color: darkslategray;
    color: white;
    padding: 50% 70%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 200%;
    font-weight: bold;
}

.rainbow {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}