{% extends 'base.html' %}

{% block head %}
<script src="../static/jscolor.js"></script>
{% endblock %}

{% block content %}
<div class="center max900">
    <h1>LED Strip Control</h1>
    <br>
    <button 
        type="button"
        class="rainbow colorButton"
        onclick="send_post('rainbow');">
        Cycle
    </button>
    <br><br>
    <button 
        type="button"
        class="rainbow colorButton"
        onclick="send_post('rainbow_fade');">
        Fade
    </button>
    <br><br>
    <button 
        type="button"
        class="colorButton red"
        onclick="send_post('night');">
        Night
    </button>
    <br><br>
    <button
        type="button"
        id="solidPicker"
        class="colorButton jscolor {mode:'HSV',
                        valueElement:null, 
                        value:'66ccff',
                        onFineChange:'solid_color(this)',
                        width:400, height:200,
                        position:'absolute',
                        left:'50%',
                        borderColor:'#2f4f4f',
                        insetColor:'#2f004f'
                    }"
        value="0069FF">
        Solid
    </button>
    <br><br>
    <button 
        type="button"
        class="colorButton gray"
        onclick="solid_color('08080808');">
        Dark white
    </button>
    <br><br>
    <button 
        type="button"
        class="colorButton black"
        onclick="solid_color('000000');">
        Off
    </button>
    <br><br>
    <button 
        type="button"
        class="white"
        onclick="send_post_tv('on');">
        TV ON
    </button>
    <br><br>
    <button 
        type="button"
        class="black"
        onclick="send_post_tv('off');">
        TV OFF
    </button>
</div>
{% endblock %}

{% block scripts %}
<script>
function showPickers(){
    document.getElementById('solidPicker').jscolor.show();
}
function solid_color(jscolor) {
    // 'jscolor' instance can be used as a string
    document.getElementById('solidPicker').backgroundColor = '#' + jscolor
    //document.body.style.backgroundColor = '#' + jscolor
    const Http = new XMLHttpRequest();
    const url='/led/solid?color=' + '0x' + jscolor;
    Http.open("GET", url);
    Http.send();
}
function set_bg(jscolor){
    document.body.style.backgroundColor = '#' + jscolor
}
function send_post (endpoint) {
    const Http = new XMLHttpRequest();
    const url='/led/' + endpoint
    Http.open("POST", url);
    Http.send();
}
function send_post_tv (endpoint) {
    const Http = new XMLHttpRequest();
    const url='/tv/' + endpoint
    Http.open("POST", url);
    Http.send();
}
</script>
{% endblock %}